<div class="container">
  <hr class="featurette-divider">
  <footer>
    <p class="float-right"><a href="#"> Back to top</a></p>

    <!-- <p class="float-right insert"> </p>
<button type="button" class="btn btn-dark btn-session">Dark</button> -->
    <p class="float-right"> Session started @ </p>
     <p>&copy; 2017 Gaurav Gulati, Inc. ; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
   </footer>
</div>
