
<div class="container">
<div class="row">

<div class="col-md-7 spacing">

<h1>New Product</h1>

<%= render 'form', obj: @product %>

<%= link_to 'Back', products_path %>
</div>

<div class="col-md-3 offset-md-2 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Tip of The day</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
        </div>
        </div>
